<script src="{{ url_for('static', filename='js/core/charts.min.js') }}"></script>
<canvas id="totalChart"></canvas>
<script defer>
    var ctx = document.getElementById('totalChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                'Dado 1',
                'Dado 2',
                'Dado 3',
                'Dado 4',
                'Dado 5',
            ],
            datasets: [{
                data: [
                    100,
                    200,
                    300,
                    400,
                    500,
                ],
                label: 'Diferenças',
                backgroundColor: [
                    'rgba(110, 235, 131, 1)',
                    'rgba(54, 0, 233, 1)',
                    'rgba(240, 162, 2, 1)',
                    'rgba(242, 129, 35, 1)',
                    'rgba(204, 68, 75, 1)'
                ],
            }]
        },
        options: {
            title: {
                text: 'Informações',
            },
        }
    });
</script>

