<div class="ml-auto mr-auto">
    {% include 'components/select_example.html' %}
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Valor
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Dado 1</td>
        <td align="right">100</td>
    </tr>

    <tr>
        <td>Dado 2</td>
        <td align="right">200</td>
    </tr>

    <tr>
        <td>Dado 3</td>
        <td align="right">300</td>
    </tr>

    <tr>
        <td>Dado 4</td>
        <td align="right">400</td>
    </tr>

    <tr>
        <td>Dado 1</td>
        <td align="right">500</td>
    </tr>

    </tbody>
</table>
