{% extends "base.html" %}
{% block title %}STARTER - DASHBOARD{% endblock %}
{% block body %}
    <div class="breadcrumb">
        <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Informações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dados-array-tab" data-toggle="tab" href="#dados-array" role="tab"
                   aria-controls="dados-array" aria-selected="false">Organizações</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="dados-api-tab" data-toggle="tab" href="#dados-api" role="tab"
                   aria-controls="dados-api" aria-selected="false">Usuários</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container-fluid">
                <h1 class="text-center mt-3 text-dark">Seja bem Vindo!
                    <i class="ni ni-calendar-grid-58"></i>
                    <i class="ni ni-chart-bar-32"></i>
                </h1>
                <p class="text-center"> Aqui se encontram informações sobre as organizações do distrito federal</p>
                <div class="col-lg-6 ml-auto mr-auto">
                    {% include'components/messages.html' %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'components/graph_bar_example.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dados-array" role="tabpanel" aria-labelledby="dados-array-tab">
            <div class="col-lg-12">
                <h1 class="text-center text-dark">Organizações</h1>
                <a href="/organization" class="btn btn-done bg-animate">
                    <i class="ni ni-fat-add"></i>
                    Adicionar nova Organização
                </a>
                <div class="card mb-4 mb-lg-0 mt-5">
                    <div class="table-responsive">
                        {% include 'components/table_organizations.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dados-api" role="tabpanel" aria-labelledby="dados-api-tab">
            <div class="col-lg-12">
                <h1 class="text-center text-dark">Usuários da aplicação!</h1>
                <a href="/create-user" class="btn btn-done bg-animate">
                    <i class="ni ni-fat-add"></i>
                    Adicionar nova Organização
                </a>
                <div class="card mb-4 mb-lg-0 mt-5">
                    <div class="table-responsive">
                        {% include 'components/table_users.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
